<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>

    <title>Marketing</title>
</head>
<body>
    <%- include('./partials/marketing/hero.ejs') %>
    <%- include('./partials/marketing/benefits.ejs') %>
    <%- include('./partials/marketing/testimonials.ejs') %>
    <%- include('./partials/marketing/cta.ejs') %>
    <%- include('./partials/footer.ejs') %>  
    
</body>
</html>