<!DOCTYPE html>
<html lang="en">
<head>
<%- include ('./partials/head.ejs') %>
    <title>Show Entry</title>
</head>
<body id="show">
<%- include('./partials/nav.ejs') %>
<div class="show">

    <h1><%=entry.username%></h1>
    <a href="/cannanote"><button>Go Back</button></a>
    <table>
        <thead>
            <th>Strain</th><th>Type</th><th>Amount</th><th>Method</th>
        </thead>
        <tbody>
            <td><%= entry.strain %></td>
            <td><%= entry.type %></td>
            <td><%= entry.amount %></td>
            <td><%= entry.consumption %></td>
        </tbody>
    </table>
    <div class="description">
        <h3>The Wisdom Gained</h3>
        <p><%= entry.description %></p>
    </div>
</div>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
</body>
</html>